## ========================
# IntelliJ IDEA
# ========================
.idea/
*.iml

# ========================
# Build / Output
# ========================
out/
build/

# ========================
# Java
# ========================
*.class

# ========================
# Logs
# ========================
*.log

# ========================
# Arquivos temporários
# ========================
*.tmp
*.temp

# ========================
# Sistema Operacional
# ========================
.DS_Store
Thumbs.db

# ========================
# Configurações locais
# ========================
.env
